.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  --marginA: 0px;
  --marginB: -500px;
  --marginC: -1000px;
  --marginD: -1500px;
  --marginE: -2000px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#slides {
  list-style: none;
  display: flex;
  height: 450px;
  width: 450px;
  position: fixed;
  margin-left: -200px;
  overflow: hidden;
}

#first-slide {
  margin-left: 0px;
  animation: slidermotion 1s smooth;
}

button {
  font-size: 30px;
}

@keyframes slidermotion {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -450px;
  }
}
