.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

  .slides {
    animation: slidermotion 1s smooth;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#security-input {
  font-size: 30px;
  margin: 20px;
  border: solid 3px #282c34;
  padding: 3px;
}

#hack-div {
  margin-top: -200px;
  position: fixed;
  height: 700px;
  width: 100vw;
}

#slides {
  list-style: none;
  display: flex;
  height: 100vw;
  width: 100vw;
  position: fixed;
  margin-left: 40px;
  margin-top: -80px;
  overflow: hidden;
}

.slides {
  margin-right: 50px;
}
.slides img {
  width: 300px;
}

#first-slide {
  transition: margin-left 1s;
}

button {
  font-size: 23px;
  padding: 6px;
  background-color: #282c34;
  color: white;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  box-shadow: 3px 3px #74767a;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 700px) {
  #slides {
    margin-top: 500px;
    width: 350px;
    margin-left: 0px;
  }
}
